<h1>To Do Lists</h1>
<ul>
	<% @item.each do |i| %>
	  <li><strong><%= link_to i.name, item_path(i.id) %></li></strong>
	  <%= i.description %>
	  <%= link_to 'Edit item', edit_item_path(i) %>
	  <%= link_to 'Destroy List', i, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</ul>


<%= link_to 'Add item', new_item_path %>

